name: peviitor.ro
on:
  schedule:
    - cron: '30 18 * * *'
  workflow_dispatch:

jobs:
  jmeter_tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Java
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'

    - name: Download and install JMeter
      run: |
        wget https://downloads.apache.org/jmeter/binaries/apache-jmeter-5.6.2.tgz
        tar -xvzf apache-jmeter-5.6.2.tgz
        cd apache-jmeter-5.6.2/lib
        wget https://repo1.maven.org/maven2/kg/apc/cmdrunner/2.2/cmdrunner-2.2.jar
        cd ext/
        wget https://repo1.maven.org/maven2/kg/apc/jmeter-plugins-manager/1.6/jmeter-plugins-manager-1.6.jar
        cd ..
        java  -jar cmdrunner-2.2.1.jar --tool org.jmeterplugins.repository.PluginManagerCMD install jpgc-dummy
        export PATH=$PATH:$PWD/apache-jmeter-5.6.2/bin

    - name: Run JMeter tests
      run: |
        cd sites 

        JMX_FILES=$(find . -name "*.jmx")

        for FILE in $JMX_FILES; do
          echo "Running test $FILE"
          $GITHUB_WORKSPACE/apache-jmeter-5.6.2/bin/./jmeter.sh -n -t $FILE 
        done
